<div class="container">
    <table class="incident-details">
    <thead>
        <tr>
            <th colspan="2">Detalhes do Incidente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Título:</td>
            <td>{{incident?.title}}</td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td>{{incident?.description}}</td>
        </tr>
        <tr>
            <td>Vazamento:</td>
            <td>{{incident?.leak ? 'Sim' : 'Não'}}</td>
        </tr>
        <tr *ngIf="incident?.leak">
            <td>Nível de Gravidade:</td>
            <td>{{incident?.severity}}</td>
        </tr>
        <tr>
            <td>Status de execução: </td>
            <td>
        <button class="button" nbButton (click)="adicionarProgresso()">
    <i class="fas fa-spinner fa-spin"></i> Adicionar em progresso
</button>

    </td>
    </tr>
    </tbody>
</table>
</div>
