<div class="body">
    <!-- status-servidor.component.html -->
    <div class="container">
        <div class="card">
            <h2>Server Status</h2>
            <p>{{ serverStatus }}</p>
        </div>
        <div class="card">
            <h2>CPU Usage</h2>
            <ng-container *ngIf="serverInfo && serverInfo.cpus">
                <div *ngFor="let cpu of serverInfo.cpus" class="cpu" [ngIf]="!isModelRepeated(cpu.model)">
                    <p><strong>Model:</strong> {{ cpu.model }}</p>
                </div>
            </ng-container>
            <p>{{ (cpuUsage) }} MB</p>
        </div>

        <div class="card">
            <h2>Memory Usage</h2>
            <p>Total Memory: {{ formatMemory(totalMemory) }} </p>
            <p>Free Memory: {{ formatMemory(freeMemory) }}</p>
        </div>
    </div>


</div>