<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">
        <img src="assets/reciclando.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Pipe Guard
    </h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="incidents"><i class="fa-solid fa-list"></i> Listar Incidentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="progresso"><i class="fa-solid fa-sync"></i> Em Progresso <span>{{progressoService.obtemProgresso().length}}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="requisicao"><i class="fa-solid fa-address-book"></i> Requisições Manuais e Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="geofones"><i class="fas fa-cogs"></i> Gestão de Sensores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="status"><i class="fa-solid fa-check-circle"></i> Status de Servidor e API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="monitoring"><i class="fa-solid fa-check-circle"></i> Logs de monitoramento</a>
            </li>
            <li class="nav-item">
                <app-user-status></app-user-status>
            </li>
        </ul>

        <!-- Barra de Pesquisa -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Pesquisar">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="pi pi-search"></i></button>
        </form>
    </div>
</header>
