    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        padding-bottom: 60px; /* Ajuste de acordo com a altura do seu footer */
    }

    footer {
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
