<!-- status-servidor-api.component.html -->
<div class="body">
  <ng-container *ngIf="logs && logs.length > 0">
    
    <h2>Lista de Monitoramento</h2>
    <table class="table">
      <thead class="thead-dark">
        
        <tr>
          <th>Mensagem</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <td>{{ log.message }}</td>
          <td>{{ log.timestamp | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </ng-container>
  <div *ngIf="logs && logs.length === 0">
    <p>Nenhum registro de monitoramento encontrado.</p>
  </div>
</div>
