.get-log {
    background-color: #28a745; /* Verde para método GET */
    color: #fff;
}

.post-log {
    background-color: #007bff; /* Azul para método POST */
    color: #fff;
}

.put-log {
    background-color: #ffc107; /* Amarelo para método PUT */
}

.delete-log {
    background-color: #dc3545; /* Vermelho para método DELETE */
    color: #fff;
}

