<div class="body">
    <div class="margin">
    <section id="about">
      <h2>Sobre o PipeGuard</h2>
      <p>O PipeGuard é uma plataforma de monitoramento de vazamentos dedicada a diminuir um dos problemas identificados no <strong>Objetivo de Desenvolvimento Sustentável (ODS) 6</strong>.</p>
      <p>Nosso objetivo é contribuir para a preservação dos recursos hídricos, combatendo o desperdício de água através da detecção precoce e do monitoramento contínuo de vazamentos em sistemas de distribuição.</p>
      <p>Além disso, o PipeGuard oferece relatórios detalhados e análises em tempo real para auxiliar na tomada de decisões eficientes e na otimização dos sistemas de distribuição de água.</p>
      <p>Com uma equipe dedicada e tecnologia de ponta, estamos comprometidos em fornecer soluções inovadoras e sustentáveis para enfrentar os desafios relacionados à gestão da água em todo o mundo.</p>
      <p>Sua solução completa para monitoramento de vazamentos e economia de água.</p>
   
  
    <section id="problema">
      <h2>O Problema do Desperdício de Água</h2>
      <p>Sabia que 1 em cada 5 litros de água potável se perde em vazamentos?</p>
      <p>Isso significa que, além de um enorme prejuízo financeiro, estamos desperdiçando um **recurso vital** para a vida no planeta.</p>
    </section>
  
    <section id="solucao">
      <h2>PipeGuard: A Solução Definitiva</h2>
      <p>Nossa plataforma de monitoramento de vazamentos é a solução definitiva para:</p>
      <ul>
        <li>**Alcançar o Objetivo de Desenvolvimento Sustentável (ODS) 6:** O PipeGuard te ajuda a **diminuir o desperdício de água** e contribuir para a **preservação dos recursos hídricos**, um dos principais objetivos da ONU.</li>
        <li>**Economizar dinheiro:** Detecte vazamentos **precocemente** e evite **perdas financeiras significativas** com contas de água altas.</li>
        <li>**Otimizar seus sistemas:** Obtenha **relatórios detalhados e análises em tempo real** para identificar áreas de ineficiência e tomar decisões mais inteligentes na gestão da água.</li>
        <li>**Agir com sustentabilidade:** Demonstre seu **compromisso com o meio ambiente** e a **responsabilidade social** ao adotar uma solução inovadora e sustentável.</li>
    
    

