<div class="body">
    <div class="container">
        <div *ngIf="!incidents" class="loading">
            <div class="spinner"></div>
        </div>
        <ng-container class="table-responsive">
            <ng-container *ngIf="incidents && incidents.length > 0; else semIncidents">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let incident of incidents | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                            <ng-container *ngIf="incident.leak.toString() === '1'">
                                <td>{{ incident.title }}</td>
                                <td>{{ incident.description }}</td>
                                <td>
                                    <button class="btn btn-primary" routerLink="/incidents/{{incident.id}}">
                                        <i class="fas fa-arrow-right"></i> Mais detalhes
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            <ng-template #semIncidents>Não existem incidentes.</ng-template>
        </ng-container>
    </div>
</div>
