<!-- sensores.component.html -->
<div class="container">
    <h2>Sistema de Sensores de Geofones</h2>
    <button (click)="mostrarFormulario()">Adicionar Novo Sensor</button>
    <div *ngIf="formularioVisivel">
      <h3>{{ edicao ? 'Editar Sensor' : 'Adicionar Sensor' }}</h3>
      <form (ngSubmit)="salvarSensor()">
        <div class="form-group">
          <label for="localizacao">Localização:</label>
          <input type="text" id="localizacao" name="localizacao" [(ngModel)]="novoSensor.localizacao" required>
        </div>
        <div class="form-group">
          <label for="deteccao">Estado de Detecção (Hz):</label>
          <input type="number" id="deteccao" name="deteccao" [(ngModel)]="novoSensor.deteccao" required>
        </div>
        <div class="buttons">
          <button type="submit">{{ edicao ? 'Salvar Alterações' : 'Salvar' }}</button>
          <button type="button" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Sensor ID</th>
          <th>Localização</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sensor of sensores">
          <td>{{ sensor.id }}</td>
          <td>{{ sensor.localizacao }}</td>
          <td>{{ sensor.deteccao }}</td>
          <td>
            <button (click)="mostrarFormulario(true, sensor)">
                <i class="fas fa-edit"></i> Editar
            </button>
            <button (click)="excluirSensor(sensor)">
                <i class="fas fa-trash-alt"></i> Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  //sensore.html
<div>
  <h1>Lista de Incidentes</h1>
  <ul *ngIf="!error">
    <li *ngFor="let incident of incidents">
      <p><strong>Título:</strong> {{ incident.title }}</p>
      <p><strong>Descrição:</strong> {{ incident.description }}</p>
      <p><strong>Vazamento:</strong> {{ incident.leak ? 'Sim' : 'Não' }}</p>
      <p><strong>Severidade:</strong> {{ incident.severity }}</p>
      <button (click)="deleteExistingIncident(incident.id)">Deletar</button>
      <button (click)="toggleEdit(incident)">Editar</button> <!-- Adicione este botão para acionar a edição -->
      <div *ngIf="incident.id === editingIncident?.id"> <!-- Formulário de edição aparece apenas se este incidente estiver em modo de edição -->
        <h2>Editar Incidente</h2>
        <form (submit)="updateExistingIncident(incident.id, updatedIncidentData)">
          <label>
            Título:
            <input type="text" [(ngModel)]="updatedIncidentData.title" name="title" required>
          </label>
          <label>
            Descrição:
            <textarea [(ngModel)]="updatedIncidentData.description" name="description" required></textarea>
          </label>
          <label>
            Vazamento:
            <input type="checkbox" [(ngModel)]="updatedIncidentData.leak" name="leak">
          </label>
          <label>
            Severidade:
            <select [(ngModel)]="updatedIncidentData.severity" name="severity" required>
              <option value="Baixa">Baixa</option>
              <option value="Média">Média</option>
              <option value="Alta">Alta</option>
            </select>
          </label>
          <button type="submit">Atualizar</button>
        </form>
      </div>
    </li>
  </ul>
  <p *ngIf="error" style="color: red;">{{ error }}</p>
</div>

<div>
  <h2>Criar Novo Incidente</h2>
  <form (submit)="createNewIncident(newIncidentData)">
    <label>
      Título:
      <input type="text" [(ngModel)]="newIncidentData.title" name="title" required>
    </label>
    <label>
      Descrição:
      <textarea [(ngModel)]="newIncidentData.description" name="description" required></textarea>
    </label>
    <label>
      Vazamento:
      <input type="checkbox" [(ngModel)]="newIncidentData.leak" name="leak">
    </label>
    <label>
      Severidade:
      <select [(ngModel)]="newIncidentData.severity" name="severity" required>
        <option value="Baixa">Baixa</option>
        <option value="Média">Média</option>
        <option value="Alta">Alta</option>
      </select>
    </label>
    <button type="submit">Criar</button>
  </form>
</div>
