<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Responsável</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incidente of itensProgresso">
        <td>{{ incidente.id }}</td>
        <td>{{ incidente.title }}</td>
        <td>Gabriel</td>
        <td>{{ incidente.description }}</td>
        <td>
          <button class="btn btn-primary" (click)="resolverVazamento(incidente.id)">Resolver Vazamento</button>
          <button class="btn btn-danger" (click)="removerIncidentProgresso(incidente.id)">Remover de Progresso</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>
  <div *ngIf="total > 0" class="total">
    Total: {{ total }}
  </div>
  <button hidden class="btn btn-success" (click)="resolver()">Resolver Todos</button>
</div>
