<div class="body">
  <div class="main">
    <div class="signup">
      <h2 class="label-signup">Sign up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="register()">
        <div>
          <label>Email:</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
          <div *ngIf="email?.invalid && email?.touched">
            <small *ngIf="email?.errors?.['required']" class="text-danger">Email é obrigatório</small>
            <small *ngIf="email?.errors?.['email']" class="text-danger">Formato de email inválido</small>
          </div>
        </div>
        <div>
          <label>Senha:</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Senha">
          <div *ngIf="password?.invalid && password?.touched">
            <small *ngIf="password?.errors?.['required']" class="text-danger">Senha é obrigatória</small>
            <small *ngIf="password?.errors?.['minlength']" class="text-danger">Senha deve ter pelo menos 8
              caracteres</small>
            <small *ngIf="password?.errors?.['maxlength']" class="text-danger">Senha deve ter no máximo 20
              caracteres</small>
            <small *ngIf="password?.errors?.['pattern']" class="text-danger">Senha deve conter pelo menos uma letra
              maiúscula, uma letra minúscula, um número e um caractere especial</small>
          </div>
        </div>
        <div>
          <label>Nome:</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Nome">
          <div *ngIf="name?.invalid && name?.touched">
            <small *ngIf="name?.errors?.['required']" class="text-danger">Nome é obrigatório</small>
          </div>
        </div>
        <div>
          <label>Telefone:</label>
          <input type="text" class="form-control" formControlName="phone" placeholder="(00) 0000-0000" appPhoneMask>
          <div *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
            <small *ngIf="signupForm.get('phone')?.errors?.['required']" class="text-danger">Telefone é
              obrigatório</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign up</button>
        <button routerLink="/login" type="button" class="btn btn-secondary">Login</button>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
      </form>
    </div>
  </div>
</div>